POSTGRES_DB=startupconnect
POSTGRES_USER=startupconnect
POSTGRES_PASSWORD=startupconnect_password
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
JWT_SIGNING_KEY=DEV_ONLY_StartupConnect_JwtSigningKey_AtLeast32Chars_ReplaceInProduction
